<div>
    <h2 id="page-heading">
        <span>Nationalities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nationality" [routerLink]="['/nationality/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Nationality
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="nationalities?.length === 0">
        <span>No nationalities found</span>
    </div>
    <div class="table-responsive" *ngIf="nationalities?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Ar Name</span></th>
            <th><span>En Name</span></th>
            <th><span>Person Info</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nationality of nationalities ;trackBy: trackId">
                <td><a [routerLink]="['/nationality', nationality.id, 'view' ]">{{nationality.id}}</a></td>
                <td>{{nationality.arName}}</td>
                <td>{{nationality.enName}}</td>
                <td>
                    <div *ngIf="nationality.personInfo">
                        <a [routerLink]="['../person-info', nationality.personInfo?.id, 'view' ]" >{{nationality.personInfo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/nationality', nationality.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nationality', nationality.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'nationality', { outlets: { popup: nationality.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
