<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nationality">
            <h2><span>Nationality</span> {{nationality.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ar Name</span></dt>
                <dd>
                    <span>{{nationality.arName}}</span>
                </dd>
                <dt><span>En Name</span></dt>
                <dd>
                    <span>{{nationality.enName}}</span>
                </dd>
                <dt><span>Person Info</span></dt>
                <dd>
                    <div *ngIf="nationality.personInfo">
                        <a [routerLink]="['/person-info', nationality.personInfo?.id, 'view']">{{nationality.personInfo?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nationality', nationality.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
