<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-info-heading">Create or edit a Person Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_arFullName">Ar Full Name</label>
                    <input type="text" class="form-control" name="arFullName" id="field_arFullName"
                           formControlName="arFullName"/>
                    <div *ngIf="editForm.get('arFullName').invalid && (editForm.get('arFullName').dirty || editForm.get('arFullName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('arFullName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_enFullName">En Full Name</label>
                    <input type="text" class="form-control" name="enFullName" id="field_enFullName"
                           formControlName="enFullName"/>
                    <div *ngIf="editForm.get('enFullName').invalid && (editForm.get('enFullName').dirty || editForm.get('enFullName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('enFullName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_birthDate">Birth Date</label>
                    <div class="d-flex">
                        <input id="field_birthDate" type="datetime-local" class="form-control" name="birthDate" formControlName="birthDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('birthDate').invalid && (editForm.get('birthDate').dirty || editForm.get('birthDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('birthDate').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('birthDate').errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hijriBirthDate">Hijri Birth Date</label>
                    <input type="number" class="form-control" name="hijriBirthDate" id="field_hijriBirthDate"
                           formControlName="hijriBirthDate"/>
                    <div *ngIf="editForm.get('hijriBirthDate').invalid && (editForm.get('hijriBirthDate').dirty || editForm.get('hijriBirthDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hijriBirthDate').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('hijriBirthDate')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idExpiryDate">Id Expiry Date</label>
                    <div class="d-flex">
                        <input id="field_idExpiryDate" type="datetime-local" class="form-control" name="idExpiryDate" formControlName="idExpiryDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hijriIdExpiryDate">Hijri Id Expiry Date</label>
                    <input type="number" class="form-control" name="hijriIdExpiryDate" id="field_hijriIdExpiryDate"
                           formControlName="hijriIdExpiryDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idCopyNumber">Id Copy Number</label>
                    <input type="number" class="form-control" name="idCopyNumber" id="field_idCopyNumber"
                           formControlName="idCopyNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_issuePlace">Issue Place</label>
                    <input type="text" class="form-control" name="issuePlace" id="field_issuePlace"
                           formControlName="issuePlace"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mobile">Mobile</label>
                    <input type="text" class="form-control" name="mobile" id="field_mobile"
                           formControlName="mobile"/>
                    <div *ngIf="editForm.get('mobile').invalid && (editForm.get('mobile').dirty || editForm.get('mobile').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mobile').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_licenseExpiryDate">License Expiry Date</label>
                    <div class="d-flex">
                        <input id="field_licenseExpiryDate" type="datetime-local" class="form-control" name="licenseExpiryDate" formControlName="licenseExpiryDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nationalAddress">National Address</label>
                    <input type="text" class="form-control" name="nationalAddress" id="field_nationalAddress"
                           formControlName="nationalAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_workAddress">Work Address</label>
                    <input type="text" class="form-control" name="workAddress" id="field_workAddress"
                           formControlName="workAddress"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
