<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="oilType">
            <h2><span>Oil Type</span> {{oilType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ar Name</span></dt>
                <dd>
                    <span>{{oilType.arName}}</span>
                </dd>
                <dt><span>En Name</span></dt>
                <dd>
                    <span>{{oilType.enName}}</span>
                </dd>
                <dt><span>Vehicle Details</span></dt>
                <dd>
                    <div *ngIf="oilType.vehicleDetails">
                        <a [routerLink]="['/vehicle-details', oilType.vehicleDetails?.id, 'view']">{{oilType.vehicleDetails?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/oil-type', oilType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
