<div>
    <h2 id="page-heading">
        <span>Contract Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contract-type" [routerLink]="['/contract-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Contract Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contractTypes?.length === 0">
        <span>No contractTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="contractTypes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Ar Name</span></th>
            <th><span>En Name</span></th>
            <th><span>Rent Contract</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contractType of contractTypes ;trackBy: trackId">
                <td><a [routerLink]="['/contract-type', contractType.id, 'view' ]">{{contractType.id}}</a></td>
                <td>{{contractType.arName}}</td>
                <td>{{contractType.enName}}</td>
                <td>
                    <div *ngIf="contractType.rentContract">
                        <a [routerLink]="['../rent-contract', contractType.rentContract?.id, 'view' ]" >{{contractType.rentContract?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/contract-type', contractType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contract-type', contractType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'contract-type', { outlets: { popup: contractType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
